<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Day la trang home</h1>
    <a th:href="@{/login}">Login</a>
</body>
</html>